.form-group{
    margin-left: 2% !important;
}

.input-form{
    border: none !important;
    border-bottom: 2px solid black !important;
    border-radius: 0 !important;
    margin-right: 2vw !important;
}

.btn{
    margin-left: 40% !important;
}

.sidepath{
    
    background-image: url('../img/flier.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10% !important;
}
.contain{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #d5e1df !important;
}
.mobile{
    width: 600px !important;
}

@media only screen and (max-width: 600px) {
    .mobile{
        width: 350px !important;
    }
}